@model UserModel

@{
	ViewData["Title"] = "Login";
}

<h2 class="d-flex justify-content-center">Welcome!</h2>
<div class="container d-flex justify-content-center align-items-center" style="height:80vh">
	<div class="card" style="width: 100%; max-width: 400px;">
		<div class="card-body">
			<form method="post" novalidate>

				@if (ViewData["ErrorMessage"] != null)
				{
					<p style="color: red;">@ViewData["ErrorMessage"]</p>
				}

				@if (!ViewData.ModelState.IsValid)
				{
					<div class="alert alert-danger">
						<ul>
							@foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
							{
								<li>@error.ErrorMessage</li>
							}
						</ul>
					</div>
				}

				<div class="mb-3">
					<label for="Email" class="form-label">Email</label>
					<input id="Email" class="form-control" asp-for="Email" type="email" />
					<span class="text-danger" asp-validation-for="Email"></span>
				</div>

				<div class="mb-3">
					<label for="Password" class="form-label">Password</label>
					<input id="Password" class="form-control" asp-for=" Password" type="password" />
					<span class="text-danger" asp-validation-for="Password"></span>
				</div>

				<div class="d-grid gap-2">
					<button type="submit" class="btn btn-primary">Login</button>
				</div>
			</form>
		</div>
	</div>
</div>


